
#calculator-screen {
	height: 420px;
	width: 220px;
	border: 2px solid rgb(248, 53, 53);
	border-radius: 13px;
	background-color: black;
	position: relative;
	top: 40px;
	left: 400px;
}
#buttonn {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	justify-content: center;
	text-shadow: 10px;

}
button {
	padding: 10px;
	margin: 11px;
	border: #0081f8, solid, 3px;
	border-radius: 20px;
	background-color: #f4ff05 ;
}
input {
	font-size: 15px;
	margin: 10px;
	background-color: rgb(218, 220, 219);
}
#butequal {
	background-color:rgb(73, 231, 16) ;
}
body {

 background-color: #607D8B;
}
